In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import Lasso
from sklearn import metrics

In [6]:
data=pd.read_csv("cars.csv")
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [8]:
data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [36]:
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      car_ID  symboling  CarName  fueltype  aspiration  doornumber  carbody  \
0     False      False    False     False       False       False    False
1     False      False    False     False       False       False    False
2     False      False    False     False       False       False    False
3     False      False    False     False       False       False    False
4     False      False    False     False       False       False    False
..      ...        ...      ...       ...         ...         ...      ...
200   False      False    False     False       False       False    False
201   False      False    False     False       False       False    False
202   False      False    False     False       False       False    False
203   False      False    False     False       False       False    False
204   False      False    False     False       False       False    False

     drivewheel  enginelocation  wheelbase  ...  enginesize  fuelsystem  \
0         False           False      False  ...       False       False
1         False           False      False  ...       False       False
2         False           False      False  ...       False       False
3         False           False      False  ...       False       False
4         False           False      False  ...       False       False
..          ...             ...        ...  ...         ...         ...
200       False           False      False  ...       False       False
201       False           False      False  ...       False       False
202       False           False      False  ...       False       False
203       False           False      False  ...       False       False
204       False           False      False  ...       False       False

     boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  \
0        False   False             False       False    False    False
1        False   False             False       False    False    False
2        False   False             False       False    False    False
3        False   False             False       False    False    False
4        False   False             False       False    False    False
..         ...     ...               ...         ...      ...      ...
200      False   False             False       False    False    False
201      False   False             False       False    False    False
202      False   False             False       False    False    False
203      False   False             False       False    False    False
204      False   False             False       False    False    False

     highwaympg  price
0         False  False
1         False  False
2         False  False
3         False  False
4         False  False
..          ...    ...
200       False  False
201       False  False
202       False  False
203       False  False
204       False  False

[205 rows x 26 columns]>

# Getting Data Types and No of values

In [27]:
print(data.fueltype.value_counts())
print(data.aspiration.value_counts())
print(data.doornumber.value_counts())
print(data.carbody.value_counts())
print(data.drivewheel.value_counts())
print(data.enginelocation.value_counts())
print(data.fuelsystem.value_counts())

gas       185
diesel     20
Name: fueltype, dtype: int64
std      168
turbo     37
Name: aspiration, dtype: int64
four    115
two      90
Name: doornumber, dtype: int64
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
front    202
rear       3
Name: enginelocation, dtype: int64
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [28]:
d = pd.get_dummies(data, columns = ['fueltype','aspiration','doornumber','carbody','drivewheel','cylindernumber','enginelocation','enginetype', 'fuelsystem'])
print(d)

     car_ID  symboling                   CarName  wheelbase  carlength  \
0         1          3        alfa-romero giulia       88.6      168.8
1         2          3       alfa-romero stelvio       88.6      168.8
2         3          1  alfa-romero Quadrifoglio       94.5      171.2
3         4          2               audi 100 ls       99.8      176.6
4         5          2                audi 100ls       99.4      176.6
..      ...        ...                       ...        ...        ...
200     201         -1           volvo 145e (sw)      109.1      188.8
201     202         -1               volvo 144ea      109.1      188.8
202     203         -1               volvo 244dl      109.1      188.8
203     204         -1                 volvo 246      109.1      188.8
204     205         -1               volvo 264gl      109.1      188.8

     carwidth  carheight  curbweight  enginesize  boreratio  ...  \
0        64.1       48.8        2548         130       3.47  ...
1        64.1       48.8        2548         130       3.47  ...
2        65.5       52.4        2823         152       2.68  ...
3        66.2       54.3        2337         109       3.19  ...
4        66.4       54.3        2824         136       3.19  ...
..        ...        ...         ...         ...        ...  ...
200      68.9       55.5        2952         141       3.78  ...
201      68.8       55.5        3049         141       3.78  ...
202      68.9       55.5        3012         173       3.58  ...
203      68.9       55.5        3217         145       3.01  ...
204      68.9       55.5        3062         141       3.78  ...

     enginetype_ohcv  enginetype_rotor  fuelsystem_1bbl  fuelsystem_2bbl  \
0                  0                 0                0                0
1                  0                 0                0                0
2                  1                 0                0                0
3                  0                 0                0                0
4                  0                 0                0                0
..               ...               ...              ...              ...
200                0                 0                0                0
201                0                 0                0                0
202                1                 0                0                0
203                0                 0                0                0
204                0                 0                0                0

     fuelsystem_4bbl  fuelsystem_idi  fuelsystem_mfi  fuelsystem_mpfi  \
0                  0               0               0                1
1                  0               0               0                1
2                  0               0               0                1
3                  0               0               0                1
4                  0               0               0                1
..               ...             ...             ...              ...
200                0               0               0                1
201                0               0               0                1
202                0               0               0                1
203                0               1               0                0
204                0               0               0                1

     fuelsystem_spdi  fuelsystem_spfi
0                  0                0
1                  0                0
2                  0                0
3                  0                0
4                  0                0
..               ...              ...
200                0                0
201                0                0
202                0                0
203                0                0
204                0                0

[205 rows x 55 columns]

In [29]:
x = d.drop(['CarName','price'],axis=1)
y = d[['price']]

In [30]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.25,random_state=50)

In [31]:
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [32]:
ypredt= model.predict(xtest)
Mean_absolute_error = mean_absolute_error(ytest,ypredt)
print('Mean_absolute_error:',Mean_absolute_error)
Mean_squared_error = mean_squared_error(ytest,ypredt)
print('Mean_squared_error:',Mean_squared_error)
Root_Mean_squared_error = np.sqrt(Mean_squared_error)
print('Root_Mean_squared_error:',Root_Mean_squared_error)
RSquared = r2_score(ytest,ypredt)
print('R-Squared:',RSquared)
AdjRsquared = 1-((1-RSquared)*(len(xtest)-1)/(len(xtest)-len(x.columns)-1))
print('AdjRsquared:',AdjRsquared)

Mean_absolute_error: 1730.6302456598996
Mean_squared_error: 4760383.629075881
Root_Mean_squared_error: 2181.830339205109
R-Squared: 0.9027139470421041
AdjRsquared: 3.4807943504263466

In [33]:
ypred=model.predict(xtrain)
Mean_absolute_error = mean_absolute_error(ytrain,ypred)
print('Mean_absolute_error:',Mean_absolute_error)
Mean_squared_error = mean_squared_error(ytrain,ypred)
print('Mean_squared_error:',Mean_squared_error)
Root_Mean_squared_error = np.sqrt(Mean_squared_error)
print('Root_Mean_squared_error:',Root_Mean_squared_error)
RSquared = r2_score(ytrain,ypred)
print('R-Squared:',RSquared)
AdjRsquared = 1-((1-RSquared)*(len(xtrain)-1)/(len(xtrain)-len(x.columns)-1))
print('AdjRsquared:',AdjRsquared)

Mean_absolute_error: 1312.1546651434112
Mean_squared_error: 3304722.763741984
Root_Mean_squared_error: 1817.889645644637
R-Squared: 0.9513827776280663
AdjRsquared: 0.9253553757521826

In [34]:
ypred

array([[ 8150.89751403],
       [13401.48141595],
       [19232.30732904],
       [34161.03077296],
       [ 9521.60026405],
       [ 9043.01918277],
       [10267.38955689],
       [32351.45965221],
       [16062.99350943],
       [18064.90380734],
       [ 7018.49576679],
       [ 5954.87905542],
       [10658.28406826],
       [12141.08477184],
       [ 9845.50020742],
       [41800.46858196],
       [ 7063.45532793],
       [ 9587.46933831],
       [17294.2951182 ],
       [11436.69427484],
       [24017.11587983],
       [21152.8651594 ],
       [ 5657.16752615],
       [21117.23485025],
       [ 8260.40615236],
       [ 7838.73885135],
       [16736.82357986],
       [18728.79435624],
       [18100.98948694],
       [11997.93839393],
       [ 9897.03563362],
       [ 6776.93288722],
       [12363.10958294],
       [18003.02117445],
       [10111.34694987],
       [ 8451.74517226],
       [17176.15028635],
       [11204.96658103],
       [19087.72877439],
       [10298.33087334],
       [ 6033.23372725],
       [15901.52916911],
       [15757.43880806],
       [11048.        ],
       [36098.85923963],
       [ 9136.96467407],
       [35492.75332811],
       [ 9832.37197364],
       [ 5151.        ],
       [34078.59302411],
       [26950.27508847],
       [13704.66945575],
       [12139.22228497],
       [12154.6929432 ],
       [ 5801.16234581],
       [15159.46349693],
       [32021.77747581],
       [ 5438.12810897],
       [ 9129.97681782],
       [11589.99035575],
       [ 6890.46606049],
       [ 5159.37419707],
       [11626.58310281],
       [15541.58445314],
       [ 7132.03006774],
       [19653.90767302],
       [ 8744.55179083],
       [ 5908.37567955],
       [ 4979.34751782],
       [17393.87129321],
       [ 8776.83705534],
       [ 6508.4710103 ],
       [14373.00869886],
       [ 9667.85340078],
       [ 9861.80124651],
       [17026.8730201 ],
       [ 7211.0228496 ],
       [ 6889.70444296],
       [ 7840.63751652],
       [ 5231.34463842],
       [14040.78928545],
       [18312.0922101 ],
       [20893.09921275],
       [ 6812.35325565],
       [34176.50143118],
       [ 7647.16961379],
       [ 5605.8258695 ],
       [10619.99783342],
       [15994.51799598],
       [ 6925.33746392],
       [12964.        ],
       [19934.55997529],
       [31400.5       ],
       [ 7914.87588523],
       [15645.        ],
       [ 8381.99651268],
       [ 9464.92643091],
       [36977.40697589],
       [ 7525.792342  ],
       [ 8162.73187517],
       [11362.63422674],
       [10686.4484656 ],
       [ 5662.89355841],
       [ 6923.47497706],
       [ 9602.79973621],
       [ 9677.66762015],
       [11313.63057311],
       [23751.95491812],
       [16454.45401023],
       [ 6506.21215014],
       [ 4893.51521729],
       [14625.83130864],
       [15772.74720605],
       [15800.02303989],
       [20926.49143484],
       [26703.64474919],
       [15784.99995381],
       [13215.53336035],
       [11393.57554318],
       [ 7767.9095959 ],
       [13276.46740821],
       [19980.26235983],
       [ 7193.24627864],
       [ 7689.7575532 ],
       [10429.78565217],
       [ 9735.66151834],
       [19855.51823592],
       [10803.45798722],
       [12867.36220258],
       [17476.34785652],
       [ 9738.60674405],
       [36000.        ],
       [ 6839.8699495 ],
       [ 8079.3214085 ],
       [ 8642.0283606 ],
       [17301.36886712],
       [ 6107.36868289],
       [ 6438.22536725],
       [ 6455.95488563],
       [ 6907.29181248],
       [16887.58501416],
       [36740.67217841],
       [ 5833.09188315],
       [13500.62817565],
       [13308.62822214],
       [ 6946.78766558],
       [17678.99592554],
       [27889.6362515 ],
       [12644.15221265],
       [ 6887.29719812],
       [12589.68026854],
       [ 6214.49115602],
       [ 9089.30220413]])

       price
113  16695.0
170  11199.0
12   20970.0
73   40960.0
145  11259.0
20    6575.0
107  11900.0
8    23875.0
39    8845.0
89    5499.0
82   12629.0
164   8238.0
69   28176.0
165   9298.0
25    6692.0
100   9549.0
135  15510.0
23    7957.0
88    9279.0
192  13845.0
97    7999.0
83   14869.0
24    6229.0
179  15998.0
138   5118.0
200  16845.0
108  13200.0
34    7129.0
98    8249.0
168   9639.0
124  12764.0
161   8358.0
76    5389.0
155   8778.0
118   5572.0
142   7775.0
63   10795.0
54    7395.0
159   7788.0
81    8499.0
80    9959.0
180  15690.0
38    9095.0
156   6938.0
40   10295.0
195  13415.0
126  32528.0
182   7775.0
13   21105.0
122   7609.0
1    16500.0
117  18150.0