In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [20]:
data=pd.read_csv("advertising.csv")

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [22]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [23]:
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [24]:
d=data.drop(['Unnamed: 0'],axis=1,inplace=True)
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [25]:
x=np.array(data.drop(["Sales"], 1))
y=np.array(data["Sales"])

C:\Users\mtnvd\AppData\Local\Temp\ipykernel_16812\3191089795.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x=np.array(data.drop(["Sales"], 1))

In [26]:
xtrain, xtest, ytrain, ytest= train_test_split(x, y,train_size=0.8,test_size=0.2,random_state=0)

In [27]:
model= LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [28]:
yprediction = model.predict(xtest)
yprediction

array([10.05739563,  7.4522807 ,  7.0197076 , 24.08029725, 12.01786259,
        6.53793858, 12.78286918, 15.10974587, 10.76974013, 16.34357951,
       22.88297477,  9.12924467, 10.46455672, 15.48743552, 11.58555633,
       12.17296914, 18.76551502, 10.78318566, 15.90515992, 17.30651279,
       24.06692057,  9.59834224, 15.13512211, 12.38591525,  5.71360885,
       15.24749314, 12.29402334, 20.9421167 , 13.40991558,  9.04348832,
       12.89239415, 21.40272028, 18.13802209, 21.17320803,  6.56974433,
        6.14114206,  7.89018394, 13.01541434, 14.68953791,  6.18835143])

In [29]:
r2_score(ytest,yprediction)

0.8601145185017869

In [30]:
pred_sales = pd.DataFrame(data={"Predicted Sales": yprediction.flatten()})

In [31]:
pred_sales

    Predicted Sales
0         10.057396
1          7.452281
2          7.019708
3         24.080297
4         12.017863
5          6.537939
6         12.782869
7         15.109746
8         10.769740
9         16.343580
10        22.882975
11         9.129245
12        10.464557
13        15.487436
14        11.585556
15        12.172969
16        18.765515
17        10.783186
18        15.905160
19        17.306513
20        24.066921
21         9.598342
22        15.135122
23        12.385915
24         5.713609
25        15.247493
26        12.294023
27        20.942117
28        13.409916
29         9.043488
30        12.892394
31        21.402720
32        18.138022
33        21.173208
34         6.569744
35         6.141142
36         7.890184
37        13.015414
38        14.689538
39         6.188351